[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchainhub = "*"
langgraph = "*"
dotenv = "*"
langchain-openai = "*"
langchain-pinecone = "*"
langchain-community = "*"
pandas = "*"
ratelimit = "*"
langchain-google-genai = "*"
langgraph-cli = {extras = ["inmem"], version = "*"}
zod = "*"
jq = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.8"
